
.button:disabled {
    background-color: #cccccc; /* Grey color for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    color: #666666; /* Darker text color for disabled state */
}
.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    text-align: center;
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.nested {
    display: none; /* Hide inner lists by default */
}
.active {
    display: block; /* Show inner lists when active */
}
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
.caret-down {
    transform: rotate(90deg); /* Rotate caret when active */
}
.error {
    color: red;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for input fields */
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #007bff; /* Primary color border on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Search input icon */
.form-control::placeholder {
    color: #999;
    font-size: 0.9rem;
}
.form-control:focus::placeholder {
    color: #cccccc; /* Slightly visible on focus for accessibility */
    /* Smooth transition for focus effect */
    transition: color 0.3s ease; 
}