<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
        
    </script>
</head>
<body>
    <div class="container"></div>
        <h2>Buys</h2>
        <div th:if="${errorMessage}">
            <p class="error" th:text="${errorMessage}"></p> <!-- Error handling -->
        </div>
        <form th:action="@{/buy/create}"  th:object="${buy}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div>
                <label for="price">price</label>
                <input type="number" id="price" th:field="*{price}" required />
            </div>
            <div>
                <label for="quantity">quantity</label>
                <input type="number" step="1" id="quantity" th:field="*{quantity}" required />
            </div>
            <!-- <div style="display: none;"></div> -->
            <!-- <input  type="number" step="1" id="employeeId" th:field="*{employeeId}"  readonly/> -->
                <input type="number" hidden step="1" id="inventoryId" th:field="*{inventoryId}" readonly required />
            <!-- </div> -->
            <div>
                <label for="supplierId">Supplier ID</label>
                <input type="number" step="1" id="supplierId" th:field="*{supplierId}" required />
            </div>
            <div></div>
                <label for="dop">Buy date</label>
                <input type="date"  id="dop" th:field="*{dop}" required />
            </div>
            <!-- <div>
                <label for="houseNo">house No.</label>
                <input type="text"  id="houseNo" th:field="*{houseNo}"  />
            </div>
            <div>
                <label for="street">street</label>
                <input type="text"  id="street" th:field="*{street}"  />
            </div>
            <div>
                <label for="city">city</label>
                <input type="text"  id="city" th:field="*{city}"  />
            </div>
            <div></div>
                <label for="state">state</label>
                <input type="text"  id="state" th:field="*{state}" />
            </div>
            <div></div>
                <label for="pincode">pincode</label>
                <input type="number" step="1"  id="pincode" th:field="*{pincode}"  />
            </div> -->
            <div></div>
                <label for="paymentMethod">paymentMethod</label>
                <input type="text"  id="paymentMethod" th:field="*{paymentMethod}" required />
            </div>
            <div></div>
                <label for="payment">payment</label>
                <input type="number"  id="payment" th:field="*{payment}" required />
            </div>
            <div>
                <button type="submit">Buy</button>
                
            </div>
        </form>
        <a class="button" th:href="@{/inventory}">Go to inventory</a>
    </div>
    
</body>
</html>